@font-face {
	font-family: 'Rubik';
	src: url('./assets/fonts/Rubik-VariableFont_wght.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('./assets/fonts/Rubik-Italic-VariableFont_wght.ttf');
	font-style: italic;
}

:root {
	color-scheme: light dark;

	--clr-purple: #a729f5;
	--clr-green: #26d782;
	--clr-red: #ee5454;
	--clr-blue: #306aff;
	--clr-orange: #ff7e35;

	--clr-pure-white: #ffffff;
	--clr-dark-navy: #313e51;
	--clr-grey-navy: #626c7f;
	--clr-light-grey: #f4f6fa;
	--clr-navy: #3b4d66;
	--clr-light-bluish: #abc1e1;

	--clr-primary: var(--clr-purple);
	--clr-success: var(--clr-green);
	--clr-error: var(--clr-red);

	--radius: 24px;

	font-size: 12px;
}

/*** Light & Dark Color Schemes ***/

@media (prefers-color-scheme: dark) {
	:root {
		--clr-on-surface-1: var(--clr-pure-white);
		--clr-on-surface-2: var(--clr-light-bluish);

		--clr-surface-1: var(--clr-dark-navy);
		--clr-surface-2: var(--clr-navy);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--clr-on-surface-1: var(--clr-dark-navy);
		--clr-on-surface-2: var(--clr-grey-navy);

		--clr-surface-1: var(--clr-light-grey);
		--clr-surface-2: var(--clr-pure-white);
	}
}

/*** Adjusting Responsive Layout ***/

/* @media screen and (max-width: 1160px) {
	body {
		background-size: contain;
	}

	header.quiz-intro-container {
		flex-direction: column;
		align-items: center;
	}
} */

/*** Background Images - Responsive with Light & Dark Versions ***/

/*** Desktop Color Scheme BG ***/
@media (prefers-color-scheme: dark) {
	body {
		background-image: url(./assets/images/pattern-background-desktop-dark.svg);
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-image: url(./assets/images/pattern-background-desktop-light.svg);
	}
}

/*** Tablet Color Scheme BG ***/

@media (prefers-color-scheme: dark) and (max-width: 768px) {
	body {
		background-image: url(./assets/images/pattern-background-tablet-dark.svg);
	}
}

@media (prefers-color-scheme: light) and (max-width: 768px) {
	body {
		background-image: url(./assets/images/pattern-background-tablet-light.svg);
	}
}

/*** Mobile Color Scheme BG ***/
@media (prefers-color-scheme: dark) and (max-width: 375px) {
	body {
		background-image: url(./assets/images/pattern-background-mobile-dark.svg);
	}
}

@media (prefers-color-scheme: light) and (max-width: 375px) {
	body {
		background-image: url(./assets/images/pattern-background-mobile-light.svg);
	}
}

/*** General ***/

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 100vh;
	width: 100%;

	margin: 0;

	font-family: 'Rubik', sans-serif;
	color: var(--clr-on-surface-1);

	background-color: var(--clr-surface-1);

	background-repeat: no-repeat;
	/* background-position: 50%; */
	background-attachment: fixed;
	background-size: cover;
}

header,
main,
footer {
	padding-inline: 1rem;
}

/*** Quiz Introduction ***/
header.quiz-intro-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	gap: 4rem;

	max-width: 1160px;
	min-height: 456px;
	width: 100%;
}

.title-container {
	min-width: 465px;
	min-height: 214px;
}

/*** Lists ***/

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* gap: 2rem; */ /* Desktop */
	gap: 12px; /* Mobile */

	width: 100%;

	list-style-type: none;
}

li {
	width: 100%;
}

/*** Buttons ***/

button.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: var(--radius);

	background-color: var(--clr-surface-2);

	width: 100%;
	max-width: 564px;

	min-height: 96px; /* Desktop */
	min-height: 64px; /* Mobile */

	padding: 20px; /* Desktop */
	padding: 12px; /* Mobile */

	overflow: hidden;

	transition: border 0.1s ease-out;
}

button.button::before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: white;
	opacity: 0;

	transition: opacity 0.1s ease-out;
}

/*** Buttons - Hover ***/

button.button:hover {
	cursor: pointer;
}

button.button:hover::before {
	opacity: 0.1;
}

/*** Buttons - Active ***/

button.button:active {
	border: 3px solid white;
}

/*** Buttons - Other ***/

button.button.btn-quizz-choice {
	justify-content: start;
}

/*** Button Icon ***/

.btn-quizz-choice-icon-container {
	position: relative;
	isolation: isolate;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 32px; /* Desktop */
	margin-right: 16px; /* Mobile */
	padding: 8px;

	aspect-ratio: 1;

	border-radius: 8px;

	overflow: hidden;
}

.btn-quizz-choice-icon-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: #fff;
	opacity: 0.8;
}

.btn-quizz-choice-icon-container > img {
	width: 40px;
	height: 40px;
	z-index: 2;
}

/*** Button Icon Background Colors ***/

.icon-bg-orange {
	background-color: var(--clr-orange);
}

.icon-bg-green {
	background-color: var(--clr-green);
}

.icon-bg-blue {
	background-color: var(--clr-blue);
}

.icon-bg-purple {
	background-color: var(--clr-purple);
}

/*** Buttons with BG Icon Colors - Active ***/

button.button:has(.icon-bg-orange):active {
	border-color: var(--clr-orange);
}

button.button:has(.icon-bg-green):active {
	border-color: var(--clr-green);
}

button.button:has(.icon-bg-blue):active {
	border-color: var(--clr-blue);
}

button.button:has(.icon-bg-purple):active {
	border-color: var(--clr-purple);
}

/*** Utility ***/

.bold,
.heading-l.bold {
	font-weight: 700;
}

.heading-display {
	font-size: 144px;
}

h1,
h2,
.heading-l {
	font-size: 64px; /* Desktop */
	font-size: 40px; /* Mobile */
	font-weight: 300;
}

h3,
h4,
.heading-m {
	font-size: 36px;
	font-weight: 300;
}

h5,
h6,
.heading-s {
	font-size: 28px; /* Desktop */
	font-size: 18px; /* Mobile */
	font-weight: 600;
}

p,
.body-m {
	font-size: 24px;
	line-height: 150%;
}

.body-s {
	font-size: 20px; /* Desktop */
	font-size: 14px; /* Mobile */
	font-style: italic;
	line-height: 150%;
	color: var(--clr-on-surface-2);
}
