@font-face {
	font-family: 'Rubik';
	src: url('./assets/fonts/Rubik-VariableFont_wght.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('./assets/fonts/Rubik-Italic-VariableFont_wght.ttf');
	font-style: italic;
}

:root {
	color-scheme: light dark;

	--clr-purple: #a729f5;
	--clr-green: #26d782;
	--clr-red: #ee5454;
	--clr-blue: #306aff;
	--clr-orange: #ff7e35;

	--clr-pure-white: #ffffff;
	--clr-dark-navy: #313e51;
	--clr-grey-navy: #626c7f;
	--clr-light-grey: #f4f6fa;
	--clr-navy: #3b4d66;
	--clr-light-bluish: #abc1e1;

	--clr-primary: var(--clr-purple);
	--clr-success: var(--clr-green);
	--clr-error: var(--clr-red);

	--radius: 24px;

	font-size: 12px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-on-surface-1: var(--clr-pure-white);
		--clr-on-surface-2: var(--clr-light-bluish);

		--clr-surface-1: var(--clr-dark-navy);
		--clr-surface-2: var(--clr-navy);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--clr-on-surface-1: var(--clr-dark-navy);
		--clr-on-surface-2: var(--clr-grey-navy);

		--clr-surface-1: var(--clr-light-grey);
		--clr-surface-2: var(--clr-pure-white);
	}
}

@media (prefers-color-scheme: dark) and (min-width: 1024px) {
	body {
		background-image: url(./assets/images/pattern-background-desktop-dark.svg);
	}
}

@media (prefers-color-scheme: light) and (min-width: 1024px) {
	body {
		background-image: url(./assets/images/pattern-background-desktop-light.svg);
	}
}

@media (prefers-color-scheme: dark) and (min-width: 768px) {
	body {
		background-image: url(./assets/images/pattern-background-tablet-dark.svg);
	}
}

@media (prefers-color-scheme: light) and (min-width: 768) {
	body {
		background-image: url(./assets/images/pattern-background-tablet-light.svg);
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 100dvh;

	font-family: 'Rubik', sans-serif;
	color: var(--clr-on-surface-1);

	background-color: var(--clr-surface-1);

	background-repeat: no-repeat;
	background-position: 50%;
	background-attachment: fixed;
	background-size: cover;
}

/*** Quiz Introduction ***/
.quiz-intro-container {
	display: flex;
	align-items: start;
	justify-content: space-between;

	gap: 4rem;

	max-width: 1160px;
	min-height: 456px;
	width: 100%;
}

.title-container {
	min-width: 465px;
	min-height: 214px;
}

/*** Lists ***/

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	list-style-type: none;
}

/*** Buttons ***/

button.button {
	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	border-radius: var(--radius);

	background-color: var(--clr-surface-2);

	min-width: 564px;
	min-height: 96px;

	padding: 20px;
}

button.button.btn-quizz-choice {
	justify-content: start;
}

.btn-quizz-choice-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 32px;
	padding: 8px;

	aspect-ratio: 1;

	border-radius: 8px;

	/* background-color: red; */
}

.btn-quizz-choice-icon-container > img {
	width: 40px;
	height: 40px;
}

/*** Button Icon Background Colors ***/

.icon-bg-orange {
	background-color: var(--clr-orange);
}

.icon-bg-green {
	background-color: var(--clr-green);
}

.icon-bg-blue {
	background-color: var(--clr-blue);
}

.icon-bg-purple {
	background-color: var(--clr-purple);
}

/*** Utility ***/

.bold,
.heading-l.bold {
	font-weight: 700;
}

.heading-display {
	font-size: 144px;
}

h1,
h2,
.heading-l {
	font-size: 64px;
	font-weight: 300;
}

h3,
h4,
.heading-m {
	font-size: 36px;
	font-weight: 300;
}

h5,
h6,
.heading-s {
	font-size: 28px;
	font-weight: 600;
}

p,
.body-m {
	font-size: 24px;
	line-height: 150%;
}

.body-s {
	font-size: 20px;
	font-style: italic;
	line-height: 150%;
	color: var(--clr-on-surface-2);
}
