:root {
	--clr-primary: #a729f5;
	--clr-success: #26d782;
	--clr-error: #ee5454;
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-on-surface-1: #ffffff;
		--clr-on-surface-2: #abc1e1;

		--clr-surface-1: #626c7f;
		--clr-surface-2: #3b4d66;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--clr-on-surface-1: #313e51;
		--clr-on-surface-2: #626c7f;

		--clr-surface-1: #f4f6fa;
		--clr-surface-2: #ffffff;
	}
}