<section class="auto-inline-margin">
	<div class="question-header max-width auto-inline-margin">
		<h3 class="body-s subtitle">Question <span>{number}</span> of 10</h3>
		<p class="quiz-question-body">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis
			cumque officia?
		</p>
		<div
			id="quiz-progress-bar-container"
			class="">
			<div id="quiz-progress-bar"></div>
		</div>
	</div>

	<div class="max-width auto-inline-margin">
		<ul>
			<li>
				<button
					id="btn-quiz-option-a"
					class="button btn-quiz-button btn-quiz-question-option heading-s">
					<span
						class="quiz-button-icon-container quiz-button-option-icon icon-bg-white"></span>
					<span>Option A</span>
				</button>
			</li>
			<li>
				<button
					id="btn-quiz-option-b"
					class="button btn-quiz-button btn-quiz-question-option heading-s">
					<span
						class="quiz-button-icon-container quiz-button-option-icon icon-bg-white"></span>
					<span>Option B</span>
				</button>
			</li>
			<li>
				<button
					id="btn-quiz-option-c"
					class="button btn-quiz-button btn-quiz-question-option heading-s">
					<span
						class="quiz-button-icon-container quiz-button-option-icon icon-bg-white"></span>
					<span>Option C</span>
				</button>
			</li>
			<li>
				<button
					id="btn-quiz-option-d"
					class="button btn-quiz-button btn-quiz-question-option heading-s">
					<span
						class="quiz-button-icon-container quiz-button-option-icon icon-bg-white"></span>
					<span>Option D</span>
				</button>
			</li>
		</ul>
		<button
			id="quiz-submit-question"
			class="button btn-question-submit">
			Submit answer
		</button>
	</div>
</section>
